@charset "utf-8";
/* CSS Document */

.container-fluid{
	width: 100%;
	margin: auto;
	padding-left: 0px !important; padding-right: 0px !important;
	font-family: 'Roboto Condensed', sans-serif;}


.kich-back{background-image:url(../img/khando-back.png); background-size: auto;}


.kich-image img{width: 100%;}  

@media(max-width:768px){#border {padding:20px; width: 100%;}}
@media(max-width:375px){#border {width: 100%; margin-top: 50px;}}

.content{ width: 950px; font-size: 28px; margin-top: -730px; text-align: left; color:rgba(253,196,122,1.00);}
.content h3{font-size: 40px; font-weight: bold;}
@media(max-width:768px){.content{margin-top: -410px; font-size: 19px; width:500px;} .content h3{font-size: 25px;}}
@media(max-width:375px){.content{margin-top: -200px; font-size: 9px; width:225px; line-height: normal; } .content h3{font-size: 14px;}}

.nut{margin-top: 50px; margin-bottom: 320px;} 
@media(max-width:768px){.nut{margin-top: 130px; margin-bottom: 50px;} .nut img{width:200px; height:60px;}}
@media(max-width:375px){.nut{margin-top: 100px;}}

#trailer{ position: relative; margin-left: 490px;float: left; } #book{position: relative; margin-left: 1120px;}

@media(max-width:768px){#trailer{margin-left: 90px;} #book{margin-left: 480px;}}
@media(max-width:375px){#trailer{margin-left: 88px; margin-bottom: 15px;} #book{margin-left: 88px;}}

#trailer h5, #book h5{position: absolute; font-family: 'Roboto Condensed', sans-serif; color:rgba(0,0,0,1.00); font-weight: bold; font-size: 25px;} 
#trailer h5{top:33px; left: 115px; } #book h5{top: 33px; left: 125px; }

@media(max-width:768px){#trailer h5{ top:15px; left: 58px;} #book h5{top:15px; left: 63px; }}
@media(max-width:375px){#book h5{top:92px; left:63px;}}

.length h4{font-family: 'Roboto Condensed', sans-serif; color:rgba(255,255,255,1.00); font-weight: bold; font-size: 30px; text-align: center; margin-bottom: 70px;}
@media(max-width:768px){.length h4{margin-bottom: 30px;} .dienvien{margin-bottom: -100px;}}
@media(max-width:375px){.length h4{font-size: 25px; margin-bottom: 20px;}}
 
.dienvien h3{font-family: 'Roboto Condensed', sans-serif; color:rgba(255,255,255,1.00); font-size: 35px; text-align: center; margin-bottom: 100px;}

@media(max-width:768px){.dienvien h3{font-size: 30px; margin-bottom: 150px;}}
@media(max-width:375px){.dienvien h3{font-size: 26px; margin-bottom: 130px;}}

.dv{width: 424px; float: left; margin-left: 72px; margin-bottom: 270px; }


#ten1, #ten2, #ten3 {position: relative; margin-top: -90px;} 

#ten1 p, #ten2 p, #ten3 p{font-family: 'Roboto Condensed', sans-serif; color:rgba(33,47,48,1.00); font-size: 25px; position: absolute;}
#ten1 p{top: 44px; left:123px;}
#ten2 p{top: 44px; left:128px;}
#ten3 p{top: 44px; left:130px;}

@media(max-width:768px){
	.dv{width:240px; height:300px; margin-left: 12px; margin-bottom: 150px;} .dv img{width: 100%;} 
	#ten1 p, #ten2 p, #ten3 p{font-size: 22px;}
	#ten1 p{top: 35px; left:40px;}
	#ten2 p{top: 35px; left:46px;}
	#ten3 p{top: 35px; left:47px;}}
@media(max-width:375px){.dv{margin-bottom: 130px; margin-left: 65px;} 	#ten2 p{left:46px;} #ten3 p{left:47px;}}
	



#headerPopup{
  width:75%;
  margin:0 auto;
}

#headerPopup iframe{
  width:100%;
  margin:0 auto;
}




