@charset "utf-8";
/* CSS Document */

.container-fluid{
	width: 100%;
	height: auto;
	margin: auto;
	padding-left: 0px !important; padding-right: 0px !important;
}


.drama-back{ background: url(../img/drama-background.png);}
@media(max-width:768px){.drama-back{background-size: 768px 1080px;}}
@media(max-width:375px){.drama-back{background-size: 375px 528px;}}


.drama-title img{margin-left: 85px; margin-top: 102px; width: 100%;}
@media(max-width:768px){.drama-title img{margin-left: 35px; margin-top: 45px;}}
@media(max-width:375px){.drama-title img{width:250px; margin-left: 15px; margin-top: 15px;}}

.drama-name{margin-left: -15px;} 

.drama-name a { 
	display: inline-block;
	transition-duration: 0.3s;
	transition-property: transform;
}

.drama-name a:hover {
		transform: translateY(-10px);
	}

#drama1{ margin-left: 700px; margin-top: -30px;}

#drama2{ margin-left: 580px; margin-top: 35px;}

#drama3{ margin-left: 170px; margin-top: -105px;}

#drama4{ margin-left: 524px; margin-top: 130px;}

#drama5{ margin-left: 32px; margin-top: -60px;}

#drama6{ margin-left: 985px; margin-top:54px;}

#drama7{ margin-left: 363px; margin-top: 105px;}

#drama8{ margin-left: 705px; margin-top:150px; margin-bottom: 600px;} 


@media(max-width:768px){
#drama1 img{margin-left: -430px; margin-top: 10px; width: 110px; height:55px;}
#drama2 img{margin-left: -370px; margin-top: -25px; width: 90px; height:48px;}
#drama3 img{margin-left: -107px; margin-top: 50px; width: 85px; height:48px;}
#drama4 img{margin-left: -330px; margin-top: -100px;  width: 136px; height:53px;}
#drama5 img{margin-left: -28px; width: 110px; height:55px;}
#drama6 img{margin-left: -590px; margin-top: -30px; width: 120px; height:55px;}
#drama7 img{margin-left: -220px; margin-top: -120px; width: 120px; height:55px;}
#drama8 img{margin-left: -425px; margin-top: -200px; width:100px; height: 55px;} #drama8{margin-bottom: 160px;}}


@media(max-width:375px){
#drama1 img{margin-left: -500px; margin-top: -20px; width: 80px; height:40px;}
#drama2 img{margin-left: -430px; margin-top: -40px; width: 70px; height:37px;}
#drama3 img{margin-left: -100px; margin-top: 60px; width: 60px; height:35px;}
#drama4 img{margin-left: -375px; margin-top: -200px;  width: 90px; height:35px;}
#drama5 img{margin-left: 0px; margin-top: -100px; width: 70px; height:35px;}
#drama6 img{margin-left: -730px; margin-top: -220px; width: 80px; height:36px;}
#drama7 img{margin-left: -260px; margin-top: -400px; width: 90px; height:41px;}
#drama8 img{margin-left: -515px; margin-top: -590px; width:60px; height: 33px;} #drama8{margin-bottom: -165px;}}









